body {
    background: #A6A6A6;
    margin: 0%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex: auto;
    color: #1d1d1f;
    background: #f5f5f7;
    margin: 0%;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    color: inherit;
    font-size: 25px;
}

a:hover {
    color: #8C8181;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 15px;
    font-size: 75px;
    color: #1d1d1f;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 300px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #1d1d1f;
    background-image: linear-gradient(to bottom right,#D9D4CC, #8C8181);
}

p {
    display: flex;
    font-size: 25px;
    text-align: center;
}

.projects_section {
    padding: 300px;
    padding-top: 35px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #D9D4CC;
    text-align: center;
}

h2 {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 55px;
}

span, .projects {
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects {
    margin: 30px;
    background: #8C8181;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-size: 20px;
    background-image: linear-gradient(to bottom right,#D9D4CC, #8C8181);
}

a {
    text-decoration: none;
}

.contact_links {
    display: flex;
    justify-content: center;
}

.github, .linkedin {
    margin: 20px;
}

.connect, .blog {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #D9D4CC
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

section {
    max-width: 500px;
}

.Get_in_touch {
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 5px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name,
#email {
    width: 60%;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    color: ;
}

#textbox {
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    outline: none;
    color: ;
}

input[type=submit] {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    transform: .4s;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h4 {
    padding: 65px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
}